@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">

        <!-- Total de Transações (Mensal) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Transações (Mensal)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">99.999.999</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ticket Médio (Mensal) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Ticket Médio (Mensal)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 99.999.999</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Volume Transacionado Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Volume Transacionado
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">R$ 99.999.999</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cartões Cadastrados Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Cartões Cadastrados
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">99.999.999</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="card mb-12">
        <div class="card-body">
            <div class="row">
                <div class="table-responsive text-nowrap">
                    <table class="table" id="tbllist">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Id da Transação</th>
                                <th>Data da Transação</th>
                                <th>Id da Aprovação</th>
                                <th>Forma de Pagamento</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        LoadListing();
    });

    function LoadListing() {
        var transactionsdata = [];
        $.ajax({
            type: "GET",
            url: "/Home/Transactions",
            async: false,
            success: function (data) {
                $.each(data, function (key, value) {
                    var spanAprovado = '<span class="badge bg-label-success me-1">Aprovado</span>'
                    var date = new Date(value.data_Transacao)
                    transactionsdata.push([spanAprovado, value.id, date.toLocaleString(), value.id_Aprovacao, 'Cartão', 'R$ ' + value.valor_Transacao])
                })
            },
            failure: function (err) {
                console.log(err);
            }
        });

        $('#tbllist').DataTable({
            data: transactionsdata
        });
    }
</script>
}